<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="app" class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Spring boot and Angularjs Tutorial</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<div class="container-fluid">
	
	<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">{{headingTitle}} {{jsondata.officeCode}}</div>
    <div class="panel-body">
		<nav class="navbar navbar-expand-sm navbar-light bg-faded">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#nav-content" aria-controls="nav-content"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- Brand
			<a class="navbar-brand" href="index.html">Logo</a>
			-->
			
			
			<!-- Links -->
			<div class="collapse navbar-collapse" id="nav-content">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="#/offices">Offices</a></li>
					<li class="nav-item"><a class="nav-link" href="#/employees">Employees</a></li>
					<li class="nav-item"><a class="nav-link" href="#/products">Products</a></li>
					<li class="nav-item"><a class="nav-link" href="#/customers">Customers</a></li>
					<li class="nav-item"><a class="nav-link" href="#/orders">Orders</a></li>
					<li class="nav-item"><a class="nav-link" href="#/payments">Payments</a></li>					
				</ul>
			</div>
		</nav>
		
		</div>
		
		<div ng-view></div>
		</div>
		
		
		
		</div>
		
		
	</div>

	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" />
       
          
	<script src="/webjars/angularjs/1.4.9/angular.js"></script>
	<script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>
	<script src="/webjars/angularjs/1.4.9/angular-route.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
        
	
	<script src="/js/app.js"></script>

	<script src="/js/controller/officesController.js"></script>
	<script src="/js/controller/employeesController.js"></script>
	<script src="/js/controller/productsController.js"></script>
	<script src="/js/controller/customersController.js"></script>
	<script src="/js/controller/ordersController.js"></script>
	<script src="/js/controller/paymentsController.js"></script>
	
	<script src="/js/factory/officesFactory.js"></script>
	
	<link rel="stylesheet" href="/webjars/bootstrap/4.0.0-beta-1/css/bootstrap.css">
	
	
</body>
</html>
