	
	<div>
		<table class="table">
			<thead class="thead-inverse">
				<tr>
					<th>Number</th>
					<th>Name</th>					
				</tr>
			</thead>			
			<tbody>
				<tr ng-repeat="row in jsondata">
					<td>{{ row.customerNumber }}</td>
					<td>{{ row.customerName }}</td>			
				</tr>

			</tbody>
		</table>
	</div>
