
	
	<div>
		<table class="table">
			<thead class="thead-inverse">
				<tr>
					<th>Number</th>
					<th>Last name</th>
					<th>First name</th>
				</tr>
			</thead>			
			<tbody>
				<tr ng-repeat="row in jsondata">
					<td>{{ row.employeeNumber }}</td>
					<td>{{ row.lastName }}</td>
					<td>{{ row.firstName }}</td>
				</tr>

			</tbody>
		</table>
	</div>
