		<div ui-grid="gridOptions" class="gridStyle" external-scopes="clickHandler" ui-grid-pagination>
        </div>
            
            
            <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete office?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Do you want to delete the office with id: {{recId}}?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button ng-click="deleteYes(recId)" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>       
        </div>
        
      </div>
    </div>
  </div>