<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">{{headingTitle}} {{jsondata.officeCode}}</div>
    <div class="panel-body">
    	<div class="row">
			<div class="col-6 col-md-2"><b>Office code</b></div>
			<div class="col col-md-10">{{jsondata.officeCode}}</div>
		</div>
		<div class="row">
			<div class="col-6 col-md-2"><b>City</b></div>
			<div class="col col-md-10">{{jsondata.city}}</div>
		</div>
		<div class="row">
			<div class="col-6 col-md-2"><b>Phone</b></div>
			<div class="col col-md-10">{{jsondata.phone}}</div>
		</div>
		<div class="row">
			<div class="col-6 col-md-2"><b>Address Line 1</b></div>
			<div class="col col-md-10">{{jsondata.addressLine1}}</div>
		</div>
		<div class="row">
			<div class="col-6 col-md-2"><b>Address Line 2</b></div>
			<div class="col col-md-10">{{jsondata.addressLine2}}</div>
		</div>
		<div class="row">
			<div class="col-6 col-md-2"><b>State</b></div>
			<div class="col-6">{{jsondata.state}}</div>
		</div>
		<div class="row">
			<div class="col-6 col-md-2"><b>Country</b></div>
			<div class="col col-md-10">{{jsondata.country}}</div>
		</div>
		<div class="row">
			<div class="col-6 col-md-2"><b>Postal code</b></div>
			<div class="col col-md-10">{{jsondata.postalCode}}</div>
		</div>
		<div class="row">
			<div class="col-6 col-md-2"><b>Territory</b></div>
			<div class="col col-md-10">{{jsondata.territory}}</div>
		</div>
		<div class="row">
			<div class="col-6 col-md-2"></div>
			<div class="col col-md-10">
				<a href="../index.html#/offices">Back</a>
			</div>
		</div>
    
    </div>
  </div>
</div>



  

	
	
	