	<h3>{{headingTitle}}</h3>	
	<form ng-submit="addOffice()">
	<div class="container-fluid">
  		<div class="row">
    		<div class="col-sm-6" >Office code</div>
    		<div class="col-sm-6" ><input type="text" ng-model="officeCode"></div>   		
  		</div> 		
  		<div class="row">
    		<div class="col-sm-6" >City</div>
    		<div class="col-sm-6" ><input type="text" ng-model="city"></div>   		
  		</div> 		
  		<div class="row">
    		<div class="col-sm-6" >Phone</div>
    		<div class="col-sm-6" ><input type="text" ng-model="phone"></div>   		
  		</div> 		
  		<div class="row">
    		<div class="col-sm-6" >Address Line 1</div>
    		<div class="col-sm-6" ><input type="text" ng-model="addressLine1"></div>   		
  		</div> 		
  		<div class="row">
    		<div class="col-sm-6" >Address Line 2</div>
    		<div class="col-sm-6" ><input type="text" ng-model="addressLine2"></div>   		
  		</div> 		
  		<div class="row">
    		<div class="col-sm-6" >State</div>
    		<div class="col-sm-6" ><input type="text" ng-model="state"></div>   		
  		</div> 		
  		<div class="row">
    		<div class="col-sm-6" >Country</div>
    		<div class="col-sm-6" ><input type="text" ng-model="country"></div>   		
  		</div>  		
  		<div class="row">
    		<div class="col-sm-6" >Postal Code</div>
    		<div class="col-sm-6" ><input type="text" ng-model="postalCode"></div>   		
  		</div>  		
  		<div class="row">
    		<div class="col-sm-6" >Territory</div>
    		<div class="col-sm-6" ><input type="text" ng-model="territory"></div>   		
  		</div> 		
  		<div class="row">
    		<div class="col-sm-6" ></div>
    		<div class="col-sm-6" ><input type="submit"></div>   		
  		</div>
	</div>
	</form>
