	
	<div>
		<table class="table">
			<thead class="thead-inverse">
				<tr>
					<th>Number</th>
					<th style="min-width:150px">Date</th>
					<th style="min-width:150px">Required Date</th>	
					<th style="min-width:150px">Shipped Date</th>
					<th>Status</th>
					<th>Comments</th>					
				</tr>
			</thead>			
			<tbody>
				<tr ng-repeat="row in jsondata">
					<td>{{ row.orderNumber }}</td>
					<td>{{ row.orderDate }}</td>	
					<td>{{ row.requiredDate }}</td>	
					<td>{{ row.shippedDate }}</td>	
					<td>{{ row.status }}</td>	
					<td ng-if="row.comments != null">{{ row.comments }}</td>	
					<td ng-if="row.comments === null">NA</td>			
				</tr>

			</tbody>
		</table>
	</div>