
	
	<div>
		<table class="table">
			<thead class="thead-inverse">
				<tr>
					<th>Payment date</th>
					<th>Amount</th>										
				</tr>
			</thead>			
			<tbody>
				<tr ng-repeat="row in jsondata">
					<td>{{ row.paymentDate }}</td>	
					<td>{{ row.amount }}</td>																		
				</tr>

			</tbody>
		</table>
	</div>
