
	
	<div>
		<table class="table">
			<thead class="thead-inverse">
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Scale</th>
				</tr>
			</thead>			
			<tbody>
				<tr ng-repeat="row in jsondata">
					<td>{{ row.productCode }}</td>
					<td>{{ row.productName }}</td>
					<td>{{ row.productScale }}</td>
				</tr>

			</tbody>
		</table>
	</div>
